<div class="container" style="margin-top: 30px;"><h1>Welcome, <%= current_user.name %></h1></div>

<div class="container" style="margin-top: 10px;">
<h3>Requests</h3>


    <% @granny.appointments.each do |appointment|%>
    <%= appointment.date %>
    <%= appointment.time %>
    <%= appointment.user.name %>

    <%= link_to 'confirm', appointment_path(appointment, status: 'confirm'), method: 'PATCH' %>
    <%= link_to 'decline', appointment_path(appointment, status: 'decline'), method: 'PATCH' %>
    <br />
    <% end %>
</div>
