<%= simple_form_for [@appointment, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :description %>
  <%= f.submit class:’btn btn-primary’ %>
<% end %>

<form action=“/appointment” method=“post”></form>

<%= link_to ‘Edit’, appointments_path(@appointment) %>
<%= link_to ‘Back’, appointments_path %>

