<!DOCTYPE html>
<html>
  <head>
    <title>Babushka Inc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <link rel="icon" href="https://res.cloudinary.com/djiwfu4hh/image/upload/v1621018376/favicon_io/android-chrome-512x512_lfvsyn.png">
  </head>

  <body>
    <%= render 'shared/flashes' %>
    <div style="display: flex; flex-direction: column; justify-content: space-between; min-height: 80vh">
    <%= render 'shared/navbar' %>

    <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
